@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes color-change {
  from {
    color: #000;
  }
  to {
    color: #40a682;
  }
}

body {
  background-color: #000;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
}

a {
  color: #fff !important;
  text-decoration: none;
  border: none;
}

section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

@media (min-width: 768px) {
  .carousel-inner .carousel-item-end.active,
.carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-inner .carousel-item-start.active,
.carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}
.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
  transform: translateX(0);
}

.form-control {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid;
  box-shadow: none !important;
  background-color: transparent !important;
}
.form-control:focus {
  border-bottom: 1px solid #40a682;
}

.navbar-toggler {
  border: none !important;
  box-shadow: none !important;
}

h1 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48pt;
}

h2 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  color: #40a682;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  font-size: 24pt;
  font-weight: 700;
}

h4 {
  font-family: "Cinzel", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 700;
}

h5 {
  font-weight: 700;
}

p {
  font-size: 14pt;
}

img {
  max-width: 100%;
}

button {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  font-weight: 700;
  font-size: 12pt;
  padding: 0.7rem 1.5rem;
  background: #40a682;
  color: #000;
  border: solid 2px transparent;
  transition: background 0.3s ease-in-out;
  min-width: 7.5rem;
}
button a {
  color: #000 !important;
  transition: color 0.3s ease-in-out;
}

button:hover {
  background: transparent;
  color: #40a682;
  border-color: #40a682;
}
button:hover a {
  color: #40a682 !important;
}

nav {
  background-color: #000;
  border-bottom: solid 1px white;
}
nav .nav-logo img {
  max-height: 75px;
}
nav a:hover {
  color: #40a682 !important;
}

.alb-card {
  aspect-ratio: 1/1;
  background-position: center;
  background-size: 100%;
  display: flex;
  position: relative;
  transition: background-size 0.3s ease-in-out;
}
.alb-card .alb-link {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  padding: 0;
  opacity: 0.8;
  transition: opacity 0.5s;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85));
}
.alb-card .alb-data {
  position: absolute;
  width: 100%;
  padding: 0;
  top: 75%;
}
.alb-card:hover {
  background-size: 110%;
}
.alb-card:hover .alb-link {
  opacity: 1;
}
.alb-card:hover .alb-link .alb-name {
  color: #40a682;
}

@media (min-width: 992px) {
  .alb-card .alb-name {
    font-size: 14pt;
  }
  .alb-card .alb-artist {
    font-size: 12pt;
  }
}
.article-card {
  position: relative;
  background-color: transparent;
  overflow: hidden;
  aspect-ratio: 6/8;
}
.article-card .article-link {
  overflow: hidden;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #111111;
  display: flex;
  flex-direction: row;
  position: relative;
}
.article-card .article-link .article-content {
  position: relative;
  margin: 2.5rem;
  z-index: 11;
}
.article-card .article-link .article-content .article-date {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10pt;
  opacity: 0.7;
}
.article-card .article-link .article-content .article-info {
  text-align: center;
  margin: 1.5rem;
}
.article-card .article-link .article-content .article-info .article-title {
  font-size: 14pt;
}
.article-card .article-link .article-content .article-info .article-desc {
  font-size: 12pt;
}
.article-card .article-link .article-thumbnail {
  opacity: 0.2;
  z-index: 10;
  position: absolute;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.article-card:hover .article-link {
  background-color: #080808;
}
@media (max-width: 768px) {
  .article-card {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    aspect-ratio: 9/6;
  }
}
@media (min-width: 992px) {
  .article-card {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    aspect-ratio: 6/8;
  }
}
@media (min-width: 1200px) {
  .article-card {
    position: relative;
    background-color: transparent;
    overflow: hidden;
    aspect-ratio: 6/7;
  }
}
.mail-form {
  background-color: #111111;
  padding: 1.75rem;
}

#hero-section {
  background-image: url("../images/bg-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
}

/*# sourceMappingURL=style.css.map */
